#calendar {
  td {
    height: 110px;
    background-color: #eeeeee;
    text-align: right;
    vertical-align: bottom;
    font-weight: bold;
    color: #aaa;
    width: 14%;
    font-size: 2rem;
    position: relative;

    &.prev-month, &.next-month {
      background-color: #f5f5f5;
      color: #aaa;
    }
  }

  th {
    color: #bbb;
    text-align: center;
  }

  td, th {
    border: 8px solid #fff;
  }
}

.version-icons {
  position: absolute;
  top: 8px;
  left: 8px;
}

.version {
  font-size: 12px;
  display: inline-block;
  float: left;
  margin: 0 2px 2px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.version-create {
  background-color: #27ae60;
}

.version-update {
  background-color: #2980b9;
}

.version-destroy {
  background-color: #c0392b;
}