@import "compass/css3";
 
@import "compass/utilities";

$background-color1: rgba(236, 240, 241, 1);
$background-color2: rgba(255, 255, 255, 1);
$background-color3: #2c3e50;
$background-color4: #34495e;

$bar-background-color1: #3498db;
$bar-background-color2: #2980b9;

$font-color1: rgba(255, 255, 255, 1);
$font-color2: rgba(80, 80, 80, 1);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body, html {
  background-size: cover;
  height: 100%;
  color: $font-color2;
  font-family: "Open Sans";
}

.container-flexbox {
  background-color: $background-color1;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

#main {  
  overflow-y: auto;
}

#main .inner {
  padding: 2rem;
}

#main .dropdown {
  display: inline-block;
  height: 100%;
}

/* dropdowns */
.dropdown ul {
  padding: 0;
  background-color: $background-color3;
  border-width: 0;
  margin: 0;
  @include border-radius(0px);
}

.dropdown-notebook li {
  border-left: 1px solid $background-color4;
}

.dropdown a {
  cursor: pointer;
}

#left-menu .inner {
  padding: 0rem;
}

.top-row, #top-menu {
  height: 6rem;
  h2 {
    a {
      color: $font-color1;
      line-height: 6rem;
      padding: 0 1.5rem;
      height: 6rem;
      display: inline-block;
      &:hover {
        background-color: $bar-background-color2;
        text-decoration: none;
      }
    }
    .dropdown > a {
      border-left: 1px solid $bar-background-color2;
      &:hover {
        border-left: 1px solid $bar-background-color1;
      }
    }
    .dropdown.open > a {
      background-color: $bar-background-color2;
      border-left: 1px solid $bar-background-color1;
    }
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    /* padding: 1.5rem 0 0rem 1rem; */
  }
}

#top-menu {
  float: right;  
  vertical-align: middle;
 
  a {
    color: #fff;
    display: inline-block;
    height: 6rem;
    line-height: 6rem;
    padding: 0 2rem;
  }

  a:hover, .open>a {
    background-color: $bar-background-color2;
    text-decoration: none;
  }

  padding-right: 2rem;
}

#left-menu .top-row {
  background-color: $bar-background-color2;
}

#main .top-row {
  color: #fff;
  background-color: $bar-background-color1;
}

#left-menu {
  padding: 0;
  overflow-y: auto;
}


#left-menu {
  background-color: $background-color3;
}

#middle-menu {
  background-color: $background-color2;
  width: 50px;
}

#main {
  width: 100%;

  #top-menu h2 {
    float: left;
  }
}

#left-menu {
  width: 300px;

  h2 {
    color: $font-color1;
  }

  .icon {
    color: white;
    /* background-color: $background-color4; */
    /* width: 3rem; */
    height: 4rem;
    float: left;
    text-align: center;
    margin-left: 1.5rem;

    span {
      line-height: 4rem;
      vertical-align: middle;
    }

    .glyphicon {
      vertical-align: baseline;
      top: 0;
    }
  }

  .link-block {
    height: 4rem;
    a {
      color: $font-color1;
      margin-left: 1.5rem;
      line-height: 4rem;
      vertical-align: middle;
    }
    a:hover {
      text-decoration: none;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    &:hover {
      background-color: $background-color4;
      cursor: pointer;
    }
  }

  ul {
    padding: 0;
    margin-bottom: 0;
  }

  li {
    clear: both;
    /*margin-bottom: 1rem; */
    list-style-type: none;
  }
}

.navbar {
  margin: 0;
}

.hidden-form {
  display: none;
}

.note .buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn-destroy {
  margin-left: 1rem;
}

.note, .basic-container {
  background-color: $background-color2;
  position: relative;
  padding: 1rem 2rem;
  margin-bottom: 2rem
}

.btn,
.form-control {
  border-radius: 0;
}

.top-row {
  background-color: #fff;
}

.no-margin {
  margin: 0;
}

.hidden2 {
  display: none;
}

#new-notebook {
  color: $font-color1;
  background-color: $background-color4;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#new-notebook:hover {
  background-color: lighten($background-color4, 2%);
}

.btn-default {
  color: #777;
  background-color: #ecf0f1;
  border-width: 0;
}

.new_note .btn {
  background-color: #fff;
}

a {
  color: #2980b9;
}

h2 {
  font-size: 2.5rem;
  vertical-align: middle;
}

.top-row .dropdown-menu, #top-menu .dropdown-menu {
  li {
    height: 4rem;
    padding: 0;
  }
  a {
    color: $font-color1;
    line-height: 4rem;
    height: 4rem;
    vertical-align: middle;
    display: block;
    margin: 0;
    padding: 0 1.5rem;
  }
  a:hover {
    background-color: $background-color4;
    color: darken($font-color1, 5%);
  }
}

.centered {
  text-align: center;
}

.centered-vertical {
  display: table-cell;
  vertical-align: middle;
}

.stretched-full {
  width: 100%;
  height: 100%;
}

/* Welcome page and not logged in */

body#not_logged_in {
  background-image: asset-url("bg_notebook2.jpg");
  color: $font-color1;
}

#welcome {
  h2 {
    font-size: 6rem;
    margin-top: 22rem;
  }
  p {
    padding: 1.5rem;
  }
  p, .btn {
    font-size: 2.5rem;
  }
  .btn {
    padding: 1rem 2rem;
  }
}

.section-header {
  height: 100%;
}

.section-body {
  color: $font-color2;
  background-color: $background-color2;
  padding: 9rem 0;

  h2 {
    margin-bottom: 3rem;
  }
}

#welcome-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  padding: 2rem 3rem;

  h1, p {
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    height: 3rem;
    line-height: 3rem;
    a {
      vertical-align: middle;
      font-size: 1.6rem;
    }
  }

  a {
    color: $font-color1;
    &:hover {
      text-decoration: none;
    }
  }
}
