$background-color1: rgba(236, 240, 241, 1);
$background-color2: rgba(255, 255, 255, 1);
$background-color3: rgba(192, 57, 43, 1);
$background-color4: rgba(231, 76, 60,1.0);

$font-color1: rgba(255, 255, 255, 1);
$font-color2: rgba(80, 80, 80, 1);

body, html {
  background-size: cover;
  height: 100%;
  color: $font-color2;
}

.container-flexbox {
  background-color: $background-color1;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

#main {  
  overflow-y: auto;
}

#main .inner {
  padding: 2rem;
}

#left-menu .inner {
  padding: 0rem;
}

.top-row, #top-menu {
  height: 6rem;
  h2 {
    display: inline-block;
    padding: 1rem;
  }
}

#top-menu {
  float: right;  
  vertical-align: middle;
 
  a {
    display: inline-block;
    height: 6rem;
    line-height: 6rem;
    padding: 0 2rem;
  }

  a:hover {
    background-color: $background-color1;
    text-decoration: none;
  }

  padding-right: 2rem;
}

#left-menu .top-row {
  background-color: $background-color4;
}

#left-menu {
  padding: 0;
  overflow-y: auto;
}


#left-menu {
  background-color: $background-color3;
}

#middle-menu {
  background-color: $background-color2;
  width: 50px;
}

#main {
  width: 100%;

  h2 {
    float: left;
  }
}

#left-menu {
  width: 300px;

  h2 {
    color: $font-color1;
  }

  .icon {
    color: white;
    /* background-color: $background-color4; */
    /* width: 3rem; */
    height: 4rem;
    float: left;
    text-align: center;
    margin-left: 1rem;

    span {
      line-height: 4rem;
      vertical-align: middle;
    }

    .glyphicon {
      vertical-align: baseline;
      top: 0;
    }
  }

  .link-block {
    height: 4rem;
    a {
      color: $font-color1;
      margin-left: 8px;
      line-height: 4rem;
      vertical-align: middle;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  ul {
    padding: 0;
  }

  li {
    clear: both;
    /*margin-bottom: 1rem; */
    list-style-type: none;
  }
}

.navbar {
  margin: 0;
}

.hidden-form {
  display: none;
}

.btn-edit {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.note {
  background-color: $background-color2;
  position: relative;
  padding: 1rem 2rem;
  margin-bottom: 2rem
}

.btn,
.form-control {
  border-radius: 0;
}

.top-row {
  background-color: #fff;
}

.no-margin {
  margin: 0;
}