$background-color1: rgba(236, 240, 241, 1);
$background-color2: rgba(255, 255, 255, 1);
$background-color3: rgba(192, 57, 43, 1);

body, html {
  background-image: image-url("bg.jpg");
  background-size: cover;
  height: 100%;
}

.container-flexbox {
  background-color: $background-color1;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

#left-menu, #main {
  padding: 2rem;
}

#left-menu {
  background-color: $background-color3;
}

#middle-menu {
  background-color: $background-color2;
  width: 50px;
}

#main {
  width: 100%;
}

#left-menu {
  color: white;
  width: 300px;

  .icon {
    color: black;
    background-color: rgba(231, 76, 60,1.0);
    width: 3rem;
    height: 3rem;
    float: left;
    text-align: center;

    span {
      line-height: 3rem;
      vertical-align: middle;
    }
  }

  .link-block {
    height: 3rem;
    a {
      color: #ffffff;
      margin-left: 6px;
      line-height: 3rem;
      vertical-align: middle;
    }
  }

  ul {
    padding: 0;
  }

  li {
    clear: both;
    margin-bottom: 1rem;
    list-style-type: none;
  }
}

.navbar {
  margin: 0;
}

.hidden-form {
  display: none;
}

.btn-edit {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.note {
  background-color: $background-color2;
  position: relative;
  padding: 1rem 2rem;
  margin-bottom: 2rem
}